# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .Net

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal

    - name: Login
      uses: docker/login-action@v3.3.0
      with:
        username: 'maikejordan2010'
        password: ${{ secrets.TOKEN_DOCKER_HUB }}

    - name: Build and push Docker images
  # You may pin to the exact commit or the version.
  # uses: docker/build-push-action@ca877d9245402d1537745e0e356eab47c3520991
      uses: docker/build-push-action@v6.13.0
      with:
        context: .
        tags: 'maikejordan2010/sys.medical.api:v1'
        push: true
          
